@font-face {
  font-family: 'Offside';
  font-style: normal;
  font-weight: 400;
  src: local('Offside'), local('Offside-Regular'), url(https://themes.googleusercontent.com/static/fonts/offside/v1/_zg2zDrkjlbS-MUZInZH8g.woff) format('woff');
}
